body {
	font-family: sans-serif;
}
.wrapper {
	width: 1200px;
	display: flex;
	justify-content: center;
	padding: 1rem;
	margin: 1rem auto;
}
.box {
	width: 250px;
	height: 120px;
	margin-right: 1.5rem;
	border-radius: 10px;
	font-size: 20px;
	letter-spacing: 3px;
	color: white;
	background-size: 200% auto;
	border: none;
	animation: box_1 0.5s ease-in-out;
}
.box_4, .box_5 {
	width: 385px;
}
.box_1 {
	background-image: linear-gradient(to right, #f6d365 0%, #fda085 51%, #f6d365 100%)
}
.box_2 {
	background-image: linear-gradient(to right, #fbc2eb 0%, #a6c1ee 51%, #fbc2eb 100%);
}
.box_3 {
  background-image: linear-gradient(to right, #84fab0 0%, #8fd3f4 51%, #84fab0 100%);
}

.box_4 {
  background-image: linear-gradient(to right, #a1c4fd 0%, #c2e9fb 51%, #a1c4fd 100%);
}

.box_5 {
  background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 51%, #ffecd2 100%);
}



		/* Animation */


	/* Variant 1 */

.box:focus {
	outline: none;
}
.box:hover {
	animation: box 0.5s forwards ease-in-out;
}

@keyframes box {

	from{
		background-position: 0%;
	}

	to{
		background-position: 100%;
	}

}

@keyframes box_1 {

	from{
		background-position: 100%;
	}

	to{
		background-position: 0%;
	}

}


		/* Variant 2 */


/*.box:hover {
	background-position: right center;
}
.box {
	transition-duration: 0.5s;
}
*/